@keyframes appearfrombottom {
    0%{
        transform: translateY(150%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes disappear{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes hidefromtop {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(150%);
    }
}

.animation-appearfrombottom{
    animation: appearfrombottom 1s ease-in-out forwards;
}
.animation-appearfrombottom-btn{
    animation: appearfrombottom 1.1s ease-in-out forwards;
}
.animation-disappear{
    animation: disappear 1s ease-in-out forwards;
}
.animation-hidefromtop{
    animation: hidefromtop 1s ease-in-out forwards;
}
.animation-hidefromtop-btn{
    animation: hidefromtop 1.1s ease-in-out forwards;
}