$white: white;
$orange: #c5a47e;
$dark: rgb(44, 44, 43);
$darker: #272727;
$lightgrey: rgba(255, 255, 255, .2);
$halfwhite: rgba(255, 255, 255, .6);
$big_family_font: 1;
$navbar_left_padding: 50px;
$navbar_top_padding: 30px;
$blurtext_left_position: -225px;
$brand_font_size: 16px;

// Header 
$brand_font_size: 16px;
$index-text-size: 35px;
$navbar_left_padding: 50px;
$navbar_top_padding: 30px;