@charset "UTF-8";
@-webkit-keyframes appearfrombottom {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes appearfrombottom {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes hidefromtop {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
}

@keyframes hidefromtop {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
}

.animation-appearfrombottom {
  -webkit-animation: appearfrombottom 1s ease-in-out forwards;
          animation: appearfrombottom 1s ease-in-out forwards;
}

.animation-appearfrombottom-btn {
  -webkit-animation: appearfrombottom 1.1s ease-in-out forwards;
          animation: appearfrombottom 1.1s ease-in-out forwards;
}

.animation-disappear {
  -webkit-animation: disappear 1s ease-in-out forwards;
          animation: disappear 1s ease-in-out forwards;
}

.animation-hidefromtop {
  -webkit-animation: hidefromtop 1s ease-in-out forwards;
          animation: hidefromtop 1s ease-in-out forwards;
}

.animation-hidefromtop-btn {
  -webkit-animation: hidefromtop 1.1s ease-in-out forwards;
          animation: hidefromtop 1.1s ease-in-out forwards;
}

/* Mixin */
/* Set các giá trị với màn hình tương ứng */
body {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  --white: white;
  --orange: #c5a47e;
  --dark: rgb(44, 44, 43);
  --darker: #272727;
  --lightgrey: rgba(255, 255, 255, .2);
  --halfwhite: rgba(255, 255, 255, .6);
  --big_family_font: 1;
  --navbar_left_padding: 50px;
  --navbar_top_padding: 30px;
  --blurtext_left_position: -225px;
  --brand_font_size: 16px;
  overflow-x: hidden;
}

body .bg-dark {
  background-color: var(--dark) !important;
}

body .bg-darker {
  background-color: var(--darker) !important;
}

body .text-white {
  color: var(--white);
}

body .text-orange {
  color: var(--orange);
}

body header {
  --brand_font_size: 16px;
  --index-text-size: 35px;
  --navbar_left_padding: 50px;
  --navbar_top_padding: 30px;
}

body header nav {
  width: 100%;
}

body header nav .brand .brand-panel {
  --navbar_left_padding: 50px;
  --navbar_top_padding: 30px;
  padding: calc(var(--navbar_top_padding) / 1.3) 0px calc(var(--navbar_top_padding) / 1.3) var(--navbar_left_padding);
}

@media (min-width: 768px) and (max-width: 1023px) {
  body header nav .brand .brand-panel {
    --navbar_left_padding: 100px;
    --navbar_top_padding: 40px;
  }
}

@media (min-width: 1024px) {
  body header nav .brand .brand-panel {
    --navbar_left_padding: 110px;
    --navbar_top_padding: 50px;
  }
}

body header nav .brand .brand-panel .brand-name {
  font-size: var(--brand_font_size);
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body header nav .brand .brand-panel .brand-name {
    --brand_font_size: 36px;
  }
}

@media (min-width: 1024px) {
  body header nav .brand .brand-panel .brand-name {
    --brand_font_size: 45px;
  }
}

body header nav .brand .brand-panel .brand-name .brand-orangedot {
  padding: 0;
  margin: 0;
  color: var(--orange);
}

body header nav .brand .brand-panel .slider-index {
  border: 1px solid white;
  padding: 20px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav .brand .brand-panel .slider-index .big-index {
  color: var(--orange);
  font-weight: 500;
  font-size: var(--index-text-size);
  padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body header nav .brand .brand-panel .slider-index .big-index {
    --index-text-size: 80px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  body header nav .brand .brand-panel .slider-index .big-index {
    --index-text-size: 80px;
    padding-right: 20px;
  }
}

body header nav .brand .brand-panel .slider-index .small-total {
  color: var(--lightgrey);
  font-size: calc( var(--index-text-size) * 0.3);
}

body header nav .brand .brand-panel .slider-index .small-total .index {
  padding-left: 5px;
}

body header nav .brand .brand-panel .big-blur-text {
  position: absolute;
  bottom: -60px;
  left: var(--blurtext_left_position);
  max-width: 200px;
  font-size: 100px;
  font-weight: 600;
  color: var(--white);
  opacity: 0.04;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 4;
}

body header nav .mobile-menu {
  padding-top: calc(var(--navbar_top_padding));
}

body header nav .mobile-menu .hamburger-button {
  position: relative;
  padding: 0 2.5px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(var(--line-height) + var(--line_distance) * 2);
}

body header nav .mobile-menu .hamburger-button .hamburger-lines {
  position: inherit;
  width: 100%;
  max-width: 35px;
  height: var(--line-height);
  background-color: var(--line_color);
}

body header nav .mobile-menu .hamburger-button .hamburger-lines::before, body header nav .mobile-menu .hamburger-button .hamburger-lines::after {
  content: '';
  position: absolute;
  width: 100%;
  height: var(--line-height);
  background-color: var(--line_color);
}

body header nav .mobile-menu .hamburger-button .hamburger-lines::before {
  top: calc(var(--line_distance) * -1);
}

body header nav .mobile-menu .hamburger-button .hamburger-lines::after {
  top: calc(var(--line_distance));
}

body header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 10px 15px;
  --brand_font_size: 1.4rem;
  --line_color: var(--orange);
  --line_distance: 8px;
  --line-height: 2px;
}

body header.fixed nav {
  --navbar_left_padding: 0px;
  --navbar_top_padding: 0px;
}

body header.top-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0px;
  --brand_font_size: 1.1rem;
  --line_color: var(--white);
  --line_distance: 8px;
  --line-height: 2px;
}

body header.top-body nav {
  padding: 10px 0;
}

body header .mobile-dropdown-navbar {
  padding: 10px 0;
}

body header .mobile-dropdown-navbar .mobile-dropdown-items {
  list-style: none;
  padding: 10px;
}

body header .mobile-dropdown-navbar .mobile-dropdown-items:hover, body header .mobile-dropdown-navbar .mobile-dropdown-items.active {
  background-color: var(--orange);
}

body header .mobile-dropdown-navbar .mobile-dropdown-items:not(:last-child) {
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.1);
}

body header .mobile-dropdown-navbar .mobile-dropdown-items a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
}

body main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body main .section {
  min-height: 100%;
  height: 100%;
  --font-size: 25px;
  --section_x_padding: 15px;
  --section_header_padding: calc(var(--font-size) * 3);
}

body main .section.auto-height {
  height: auto;
}

body main .section .vertical-bar {
  position: relative;
  width: 20%;
  height: 100%;
}

body main .section .vertical-bar .social {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

body main .section .vertical-bar .social .social-title,
body main .section .vertical-bar .social .social-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 100%;
  padding: 10px 0;
}

body main .section .vertical-bar .social .social-title .rotate-90-text,
body main .section .vertical-bar .social .social-content .rotate-90-text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 1px solid white;
  width: 300px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  letter-spacing: 5px;
  font-weight: bold;
}

body main .section .vertical-bar .social .social-title .social-list,
body main .section .vertical-bar .social .social-content .social-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

body main .section .vertical-bar .social .social-title .social-list li,
body main .section .vertical-bar .social .social-content .social-list li {
  padding: 0;
  margin: 5px 0;
  -webkit-transform: scale(0.55);
          transform: scale(0.55);
}

body main .section .vertical-bar .social .social-title .social-list li a,
body main .section .vertical-bar .social .social-content .social-list li a {
  padding: 0;
  margin: 0;
  color: var(--white);
  opacity: 0.2;
}

body main .section .vertical-bar .social .social-title .line,
body main .section .vertical-bar .social .social-content .line {
  width: 1.2px;
  height: 20px;
  margin: 10px 0;
  background-color: var(--white);
  opacity: 0.2;
}

body main .section .g-carousel {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/slide1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  --li_witdth: 20%;
  --li_background_position: 4%;
}

body main .section .g-carousel .g-carousel-speamless-slides {
  width: 100%;
  height: 100%;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-speamless-slide {
  width: 100%;
  height: 100%;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-speamless-slide ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-speamless-slide ul li {
  width: 20%;
  height: 100%;
  background-image: url(../images/slide1.jpg);
  background-position: calc(50% + (var(--li_background_position) * -3)) center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 2s;
  transition: 2s;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-speamless-slide ul:hover li:nth-child(1) {
  background-position: calc(50% + (var(--li_background_position) * -3)) center;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-speamless-slide ul:hover li:nth-child(2) {
  background-position: calc(50% + (var(--li_background_position) * -2)) center;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-speamless-slide ul:hover li:nth-child(3) {
  background-position: calc(50% + (var(--li_background_position) * -1)) center;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-speamless-slide ul:hover li:nth-child(4) {
  background-position: calc(50% + (var(--li_background_position) * 0)) center;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-speamless-slide ul:hover li:nth-child(5) {
  background-position: calc(50% + (var(--li_background_position) * 1)) center;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-speamless-slide ul:hover li:nth-child(6) {
  background-position: calc(50% + (var(--li_background_position) * 2)) center;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-common-text {
  position: absolute;
  top: 55%;
  right: 8px;
  width: 100%;
  max-width: 250px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  text-align: right;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-common-text .split-text-box {
  margin: 15px 0;
  overflow: hidden;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-common-text .split-text-box .split-text span {
  width: 20px;
  max-width: 10px;
  font-size: 20px;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-common-text .description-box {
  --font-size: 10px;
  height: calc(--font-size * 3);
  overflow: hidden;
  margin: 15px 0;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-common-text .description-box .description {
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  -webkit-transition: 1s;
  transition: 1s;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-common-text .btn-box {
  overflow: hidden;
}

body main .section .g-carousel .g-carousel-speamless-slides .g-carousel-common-text .btn-box .learn-more-btn {
  background-color: #c5a47e;
  border-radius: 20px;
  font-size: 7px;
  margin: 0;
  padding: 2px 16px;
  -webkit-transition: 1s;
  transition: 1s;
}

body main .section .g-carousel .g-carousel-button-group {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 20px 0;
  padding: 0;
}

body main .section .g-carousel .g-carousel-button-group .g-carousel-button {
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

body main .section .g-carousel .g-carousel-button-group .g-carousel-button.prev {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .section .g-carousel .g-carousel-button-group .g-carousel-button.next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .section .g-carousel .g-carousel-button-group .g-carousel-button span {
  font-weight: 500;
}

body main .section .g-carousel .g-carousel-button-group .g-carousel-button i {
  color: rgba(255, 255, 255, 0.2);
  padding: 0 10px;
  font-weight: lighter;
}

body main .section .section-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: calc(var(--section_header_padding)) var(--section_x_padding);
}

body main .section .section-header .section-header-title span {
  padding: 0 10px;
  font-weight: 600;
  font-size: var(--font-size);
  letter-spacing: calc(var(--font-size) * 0.2);
}

body main .section .section-body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 var(--section_x_padding);
  padding: 0;
  color: var(--white);
  --font-size: 21px;
  --font-small-size: 12px;
  --group-content-y-padding: 30px;
}

body main .section .section-body .section-body-group .section-group-title {
  padding: calc(var(--group-content-y-padding) * 0.5) 0;
  line-height: calc(var(--font-size) - 2px);
  font-size: var(--font-size);
  font-weight: bold;
}

body main .section .section-body .section-body-group .section-group-content {
  padding: calc(var(--group-content-y-padding) * 0.5) 0 calc(var(--group-content-y-padding) * .8);
  font-size: var(--font-small-size);
  text-align: justify;
  color: var(--halfwhite);
}

body main .section .section-body .section-body-group .section-group-content .group {
  width: 100%;
  max-width: 15%;
  padding-bottom: calc(var(--group-content-y-padding) * 0.8);
}

body main .section .section-body .section-body-group .section-group-content .group:last-child {
  padding-bottom: calc(var(--group-content-y-padding) * 0.25);
}

body main .section .section-body .section-body-group .section-group-content .group .section-content-subtitle {
  color: var(--white);
  text-transform: uppercase;
  padding-top: 10px;
  font-size: calc(var(--font-size) - 5px);
  font-weight: bold;
  letter-spacing: calc(var(--font-size) * 0.1);
}

body main .section .section-body .section-body-group .section-group-content .group .section-content-image {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

body main .section .section-body .section-body-group .section-hero-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

body main .section .section-body .client-list {
  margin: -3.8em -1.95em 0;
  padding: 0;
  text-align: center;
}

body main .section .section-body .client-list .client-li-image {
  display: inline-block;
  vertical-align: middle;
  padding: 3em 1.95em 0;
  margin: 0;
}

body main .section .section-body .work-together-btn,
body main .section .section-body .g-btn {
  font-weight: bold;
  padding: 10px 30px;
  background: #c5a47e;
  border-radius: 20px;
  margin-top: 3em;
  font-size: var(--font-small-size);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--white);
}

body main .section .section-body .work-together-btn span,
body main .section .section-body .g-btn span {
  color: var(--white);
}

body main .section .section-body .contact-information {
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
}

body main .section .section-body .contact-information p {
  padding: 3px 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
}

body main .section .section-body .contact-form {
  padding: 0;
  margin: 0;
}

body main .section .section-body .contact-form input,
body main .section .section-body .contact-form textarea {
  border: none;
  background-color: #323232;
  font-size: var(--font-small-size);
  border-radius: .6em;
  padding: 1em 2em;
  margin: 10px 0;
  color: var(--white);
}

body main .section .section-body .contact-form input::-webkit-input-placeholder,
body main .section .section-body .contact-form textarea::-webkit-input-placeholder {
  color: var(--halfwhite);
}

body main .section .section-body .contact-form input:-ms-input-placeholder,
body main .section .section-body .contact-form textarea:-ms-input-placeholder {
  color: var(--halfwhite);
}

body main .section .section-body .contact-form input::-ms-input-placeholder,
body main .section .section-body .contact-form textarea::-ms-input-placeholder {
  color: var(--halfwhite);
}

body main .section .section-body .contact-form input::placeholder,
body main .section .section-body .contact-form textarea::placeholder {
  color: var(--halfwhite);
}

body main .section#getintouch {
  margin-bottom: 7em;
}

body main footer {
  --brand_font_size: 2.5em;
  color: var(--halfwhite);
}

body main footer .brand-container {
  position: relative;
}

body main footer .brand-container .brand-name {
  font-size: var(--brand_font_size);
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main footer .brand-container .brand-name .brand-orangedot {
  padding: 0;
  margin: 0;
  color: var(--orange);
}

body main footer .author,
body main footer .registry {
  padding-top: 2em;
}
/*# sourceMappingURL=main.css.map */